BOT_TOKEN=PASTE_TELEGRAM_BOT_TOKEN
ADMIN_IDS=123456789
FREE_DAILY_LIMIT=5
PREMIUM_DAILY_LIMIT=100
FREE_MAX_MB=100
PREMIUM_MAX_MB=2048
PREMIUM_DEFAULT_DAYS=30
DOWNLOAD_DIR=data/downloads
LOG_LEVEL=INFO
